# Fire Report NoteBook

This Notebook has been created to test each stage of the Fire Report Pythion Script during development. It will be modified during the project to mirror the script.

In [ ]:
Libraries

In [1]:
import requests
import pandas as pd

In [2]:
# SUOMI VIIRS - Last 7 days
snpp_url = 'https://firms.modaps.eosdis.nasa.gov/data/active_fire/suomi-npp-viirs-c2/csv/SUOMI_VIIRS_C2_Global_7d.csv'

In [3]:
snpp_df = pd.read_csv(snpp_url)

In [4]:
snpp_df.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,36.18110,3.74619,308.41,0.60,0.53,2023-04-09,100,N,nominal,2.0NRT,279.30,2.04,N
1,36.12600,1.23801,305.25,0.42,0.61,2023-04-09,100,N,nominal,2.0NRT,284.76,1.69,N
2,35.88173,4.44382,301.14,0.55,0.51,2023-04-09,100,N,nominal,2.0NRT,283.53,0.96,N
3,35.87701,4.44305,296.32,0.55,0.51,2023-04-09,100,N,nominal,2.0NRT,282.47,0.96,N
4,35.88085,4.44309,298.76,0.55,0.51,2023-04-09,100,N,nominal,2.0NRT,283.00,1.49,N